// COLOURS
$colour--blue: #0067c6;
$colour--white: #FFFFFF;
$colour--black: #000000;
$colour--grey: #333f48;
$colour--lightgrey: #7c858d;
$colour--extralightgrey: #e5e7e8;
$colour--mobilesearch: #dcdada;
$colour--footer: #5b6770;
$colour--footertext: #a8adb0;
$colour--form: #98a4ae;
$colour--tablealt: #eeefef;
$colour--overlay: #FFFFFF;

// FONTS
$font-family: 'Neue Helvetica W01', Helvetica, Arial, "Lucida Grande", sans-serif;
$font-family--heading: 'Eaton', 'Trebuchet MS', 'Lucida Grande', sans-serif;
$font-size: 14rem;
$font-spacing: 0.8px;

// BREAKPOINTS
$breakpoint--cta-carousel: 1367px;

// LINKS PADDING
$nav__padding: 20px 15px 20px 45px;