.product-navigation {
    @include make-md-column(3);
    @include box-sizing(border-box);
    padding-left: 0px;
    overflow: hidden;

    @include respond(sm) {
        display: none;
    }

    &__title {
        @include font($size: 24, $colour: $colour--blue, $weight: 700);
        padding: 40px 0 40px 40px;

        @include respond(md) {
            padding-left: 20px;
        }
    }

    &__nav {
        list-style: none;
        border-top: 1px solid $colour--extralightgrey;
    }

    &__item {
        position: relative;
        border-bottom: 1px solid $colour--extralightgrey;
        @include transition('background 150ms linear, color 150ms linear');
        @include font($colour: $colour--grey, $weight: 600);

        &:after {
            content: ' ';
            display: inline-block;
            position: absolute;
            top: 50%;
            right: 15px;
            width: 11px;
            height: 20px;
            margin-top: -10px;
            @include sprite-sheet($positionX: -200px, $positionY: -850px);
        }

        &:hover,
        &.active,
        &.default {
            background: $colour--blue;
            color: $colour--white;
        }

        &:hover:after,
        &.active:after,
        &.default:after {
            background-position: -200px -750px;
        }
    }

    &__link {
        display: block;
        padding: 20px 40px;
        text-decoration: none;
        color: inherit;

        @include respond(md) {
            padding-left: 20px;
        }
    }

    .backtotop {
        right: 15px;
    }

}
@media screen and (min-width: 992px) {
    
    .product-navigation.product-navigation--sticky {
        position: relative;
    }
    .product-navigation.product-navigation--sticky .product-navigation {

        &__container {
            position: absolute;
            top: 0px;
            left: 0px !important;
            right: 15px;
            z-index: 7;
        }

    }

}